<apx-chart
  [series]="turnoversChartOptions.series"
  [chart]="turnoversChartOptions.chart"
  [xaxis]="turnoversChartOptions.xaxis"
  [stroke]="turnoversChartOptions.stroke"
  [tooltip]="turnoversChartOptions.tooltip"
  [dataLabels]="turnoversChartOptions.dataLabels"
></apx-chart>

<!-- AG Grid Angular Component -->

<div style="height: 400px">
  <ag-grid-angular
    style="width: 100%; height: 100%"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData$ | async"
    [rowSelection]="'multiple'"
    [animateRows]="true"
    [contentEditable]="true"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
  ></ag-grid-angular>
</div>
